.go-dark{
  background-color: black;
}
.go-white{
  background-color: #f2f2f2;
}
.black-text{
  color:black;
}
.white-text{
  color:white;
}
.accordion {
  margin-top: 2%;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
