<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' static %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' static %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 7</title>
  </head>
  <body class="go-white">
      <div class="container d-flex flex-column bd-highlight mb-3">
        <h1 class="black-text">Hello, Welcome</h1>
        <h4 class="black-text">Go dark?</h4><span><button class="btn btn-light" id="theme-button">Click me!</button></span>
        <button class="accordion btn btn-light btn-block">Current Activities</button>
        <div class="activities panel">
          <p class="text-dark">Go to classes, sleep, eat, sleep, go to classes.</p>
        </div>
        <button class = "accordion btn btn-light btn-block">Experiences</button>
        <div class="experiences panel">
          <p class="text-dark">Seminar Staff at Compfest XI</p>
          <p class="text-dark">Event Staff at CGT</p>
          <p class="text-dark">Public Relation at Ristek</p>
        </div>
        <button class="accordion btn btn-light btn-block">Achievements</button>
        <div class="achievements panel">
          <p class="text-dark">Staying alive</p>
        </div>
      </div>
  </body>
</html>
